/**
 * @fileoverview Styles for class element creation tools.
 */

.toolGroup {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 6px;
}

.toolButton {
  justify-self: center;
}

.toolIcon {
  max-width: 36px;
  overflow: hidden;
  font-family: var(--shiny-font-family);
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
