.line {
  fill: none;
}

.accent {
  stroke: var(--shiny-canvas-accent-outline);
  stroke-width: var(--shiny-edge-ghost-accent-stroke-width);
}

.attachment {
  stroke: var(--shiny-attachment-preview-stroke);
  stroke-width: var(--shiny-edge-ghost-attachment-stroke-width);
}

.dashed {
  stroke-dasharray: var(--shiny-edge-dash-pattern);
}
