/**
 * @render Emphasis commit text field styling.
 */

.editor {
  position: relative;
  width: 100%;
}

.toolbar {
  position: absolute;
  z-index: 2;
  bottom: calc(100% + 5px);
  right: 0;
  display: flex;
  gap: 4px;
}

.underlined textarea {
  text-decoration: underline;
}

.italic textarea {
  font-style: italic;
}
