/**
 * @render Shared divider styling.
 */

.divider {
  display: block;
  width: 100%;
  height: 0;
  border-top: var(--divider-thickness, 1px) var(--divider-line-style, solid)
    var(--divider-color, var(--shiny-border));
}
