/**
 * @render Box outline overlay styling.
 */

.hover,
.selected,
.pending {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  pointer-events: none;
}

.selected {
  inset: calc(-1 * var(--box-outline-center-offset) - 1px);
  border: 1.5px solid var(--shiny-selection);
}

.hover {
  inset: calc(-1 * var(--box-outline-center-offset) - 1px);
  border: 1.5px solid var(--shiny-selection);
  opacity: 0;
}

:global(*:hover) > .hover {
  opacity: 1;
}

.pending {
  outline: 2px dashed var(--shiny-accent-outline);
  outline-offset: 2px;
}
