.editor {
  position: relative;
  width: 100%;
}

.toolbar {
  position: absolute;
  right: 0;
  bottom: calc(100% + 5px);
  display: flex;
  gap: 4px;
}

.cancelAction {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

.underlined textarea {
  text-decoration-line: underline;
}

.italic textarea {
  font-style: italic;
}
