.text {
  font: var(--shiny-canvas-font-size-secondary) var(--shiny-canvas-font-family);
}

.surface {
  stroke-width: var(--shiny-edge-text-outline-width);
}

.select,
.edit {
  pointer-events: all;
}

.select {
  cursor: var(--shiny-cursor-action);
}

.edit {
  cursor: var(--shiny-cursor-default);
}

.surface.label {
  fill: var(--shiny-edge-label-background);
  stroke: var(--shiny-edge-label-outline);
}

.surface.multiplicity {
  fill: var(--shiny-edge-caption-background);
  stroke: var(--shiny-edge-caption-outline);
}

.text.label {
  fill: var(--shiny-canvas-edge-label-text);
}

.text.multiplicity {
  fill: var(--shiny-canvas-edge-caption-text);
}
